[package]
authors = ["Ivan Nejgebauer <inejge@gmail.com>"]
description = "Pure-Rust LDAPv3 Client"
documentation = "https://docs.rs/ldap3"
keywords = ["ldap", "client", "tokio", "async"]
license = "MIT/Apache-2.0"
name = "ldap3"
readme = "README.md"
repository = "https://github.com/inejge/ldap3"
version = "0.7.2"
edition = "2018"

[dependencies]
tokio = { version = "0.2", features = ["dns", "macros", "io-util", "stream", "sync", "tcp", "time", "uds"] }
tokio-util = { version = "0.3", features = ["codec"] }
bytes = "0.5"
nom = "2"
url = "2"
futures = "0.3.4"
percent-encoding = "2.1.0"
futures-util = "0.3.4"
log = "0.4.8"
lazy_static = "1.4.0"
thiserror = "1.0.15"
native-tls = { version = "0.2.4", optional = true }
tokio-native-tls = { version = "0.1.0", optional = true }
rustls = { version = "0.18.1", optional = true }
tokio-rustls = { version = "0.14.0", optional = true, features = ["dangerous_configuration"]}
maplit = "1.0.2"
async-trait = "0.1.30"

[dependencies.lber]
path = "lber"
version = "0.2.0"

[features]
default = ["sync", "tls"]
tls = ["tls-native"]
tls-native = ["native-tls", "tokio-native-tls"]
tls-rustls = ["rustls", "tokio-rustls"]
sync = ["tokio/rt-core"]

[dev-dependencies]
env_logger = "0.7"

[workspace]
members = [".", "lber"]
